*{
    margin: 0px;
    padding: 0px;
    font-family: tahoma;
    font-size:20px;
}
.pay_plan{
    margin: auto;
    background-color: blue;
    width: 80%;
    margin-top: 3%;
   
}

.pay_plan .plan{
   
    float: left;
    width: 20%;
    text-align:center;
    color: rgb(73, 73, 72);
   
}

.plan ul{

   
    list-style: none;
    border: 0.25px solid rgb(231, 231, 231);
   
}

.plan ul li{
    background-color: chartreuse;
    background-color: rgb(245, 243, 243);
   height: 50px;
   line-height: 50px;
}

.plan ul .groupe_A{

    background-color: rgb(238, 238, 238);
  
}

.plan ul .type{
    height:25px;
   line-height:25px;
   background-color:#FC5103;
   font-size: 25px;
   padding:10px;
   color: white;
  
}

.plan ul .number{
    height: 100px;
    line-height: 100px;
    font-size:40px;
    font-weight: bold;
}

.plan .number span{
    font-size:60px;
    margin:5px;
    color: tomato;
}

.plan .number sub{
    font-size: 14px;
   
}
.plan .number sup{
    font-size:25px;
   
}

.plan ul li button{

    padding: 2%;
    width: 80px;
    cursor: pointer;
    color: white;
    background-color: #333333;
    border-radius:5px;
    border: none;
    outline: none;
}

.plan ul li button:hover{
    background-color: #FC5103;
}